= simple_form_for @transaction do |f|
  .field
    = f.input :dt, :as => :date, :label => 'Date'
  .field
    = f.input :account_id, :as => :select, :collection => Account.all.collect{|account| [account.name, account.id]}
  .field
    = f.input :amount
  .field
    = f.input :remark
  .field
    = f.input :transaction_type, :collection => Transaction::TYPES
  .line-separator
  .actions
    = f.button :submit
