= simple_form_for @account do |f|
  .field
    = f.input :name, :input_html => {:size => 25, :max_length => 25}
  .field
    = f.input :account_type, :label => "Type", :collection => Account::TYPES, :include_blank => false
  .field
    = f.input :balance
  .line-separator
  .actions
    = f.button :submit
